/*
author: Deborah Powers
job: Dev Web
school: Simplon Lieusaint
creation: 2018/03/17
update: 2018/03/17

css special pour mon site
*/
/* barre de navigation */
div.nav {
	width: 5cm;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
/* articles */
div.article {
	border-style: double;
	border-color: #4BB;
	border-width: 2mm;
	border-radius: 2mm;
	padding: 2mm;
}
div.article h1 { margin-bottom: 2mm; }
/* les images */
img { max-width: 4cm; }
@media (min-width: 600px){
	img { float: right; }
}
/* priorite des evenements */
span.color {
	display: inline-block;
	width: 4mm;
	height: 4mm;
	border-radius: 2mm;
}
span.low { background-color: #4BB; }
span.high { background-color: red; }
span.old { background-color: #820; }