<!DOCTYPE html>
<html>
<head>
	<title>formulaire de création d'évênement</title>
	<meta charset='utf-8'/>
	<link rel='stylesheet' href='library/basic-print.css'/>
	<link rel='stylesheet' href='library/basic-screen.css'/>
	<link rel='stylesheet' href='library/site.css'/>
	<script src='library/angular-min.js'></script>
	<script src='../library/func-lines.js'></script>
	<style type='text/css'>
	</style>
</head>
<body ng-app='evenments' ng-controller='controllerCreateEvenment'>
	<div class='nav'>
		<a class='button' href='index.html'>Revenir à la page d'acceuil</a>
		<a class='button' href='showEvenments.html'>Voir la liste des evenements</a>
	</div>
	<form>
		<date date='date'></date>
		<place place='place'></place>
		<contact contact='contact'></contact>
		<message message='message'></message>
		<button ng-click='createEvt()'>Créer l'évênement</button>
	</form>
</body>
<script type='text/javascript' src='../back/appEvenments.js'></script>
<script type='text/javascript' src='../back/createEvenment/formCreateEvenment.js'></script>
<script type='text/javascript' src='../back/library/dateService.js'></script>
<script type='text/javascript' src='../back/createEvenment/formComponents.js'></script>
</html>