<!DOCTYPE html>
<html>
<head>
	<title>Liste des évênements</title>
	<meta charset='utf-8'/>
	<link rel='stylesheet' href='library/basic-print.css'/>
	<link rel='stylesheet' href='library/basic-screen.css'/>
	<link rel='stylesheet' href='library/site.css'/>
	<script src='library/angular-min.js'></script>
	<script src='../library/func-lines.js'></script>
	<style type='text/css'>
	</style>
</head>
<body ng-app='evenments' ng-controller='controllerShowEvenments'>
	<div class='nav'>
		<a class='button' href='index.html'>Revenir à la page d'acceuil</a>
		<a class='button' href='createEvenment.html'>Créer un evenement</a>
		<a class='button' href='showEvenmentsList.html'>Voir l'agenda</a>
	</div>
	<div class='article' ng-repeat='subList in tableEvenments'>
		<div ng-repeat='evt in subList'>{{ evt }}</div>
	</div>
</body>
<script type='text/javascript' src='../back/appEvenments.js'></script>
<script type='text/javascript' src='../back/showEvenments/showEvenments.js'></script>
<script type='text/javascript' src='../back/library/dateService.js'></script>
</html>